#reg {
    text-align: left;
}
#day {
    width: 100px;
}
#month {
    width: 100px;
}
#year {
    width: 100px;
}
.submit_img {
    width: 408px;
    height: 40px;
    cursor: crosshair;
    background-color: #3399FF;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    height: 100%;
    background: linear-gradient(270deg, #B9B9B9, #FF4646, #464646, #3162FF);
    background-size: 800% 800%;
    -webkit-animation: bggra 15s ease infinite;
    -moz-animation: bggra 15s ease infinite;
    -o-animation: bggra 15s ease infinite;
    animation: bggra 15s ease infinite;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.newStyle2 {
    font-size: x-large;
}
.newStyle3 {
    font-size: large;
}
.cursor {
    cursor: crosshair;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    padding-left: 2px;
    font-weight: 600;
    font-size: 12pt;
}
.newStyle10 {
    position: fixed;
    right: 150px;
}
.head {
    height: 100px;
    background: rgb(14,14,14);
    background: -moz-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: linear-gradient(135deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 );
}
.select {
    cursor: crosshair;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    padding-left: 2px;
}
@-webkit-keyframes bggra {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bggra {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes bggra {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bggra { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}