#reg {
    text-align: left;
}
#day {
    width: 100px;
}
#month {
    width: 100px;
}
#year {
    width: 100px;
}
.submit_img {
    width: 308px;
    height: 40px;
    cursor: crosshair;
    background-color: #3399FF;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #a1dbff;
    background: -moz-linear-gradient(-45deg, #a1dbff 0%, #cbebff 53%, #f0f9ff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a1dbff), color-stop(53%,#cbebff), color-stop(100%,#f0f9ff));
    background: -webkit-linear-gradient(-45deg, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
    background: -o-linear-gradient(-45deg, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
    background: -ms-linear-gradient(-45deg, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
    background: linear-gradient(135deg, #a1dbff 0%,#cbebff 53%,#f0f9ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=1 );
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.newStyle2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-large;
}
.newStyle3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
}
.cursor {
    cursor: crosshair;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    padding-left: 2px;
}
.newStyle10 {
    position: fixed;
    right: 150px;
}
.head {
    height: 100px;
    background: rgb(14,14,14);
    background: -moz-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: linear-gradient(135deg, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=1 );
}
.select {
    cursor: crosshair;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    padding-left: 2px;
}