#reg {
    text-align: left;
}
#day {
    width: 100px;
}
#month {
    width: 100px;
}
#year {
    width: 100px;
}
.submit_img {
    width: 408px;
    height: 40px;
    cursor: crosshair;
    background-color: #3399FF;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    height: 100%;
    background: linear-gradient(270deg, #B9B9B9, #FF4646, #464646, #3162FF);
    background-size: 800% 800%;
    -webkit-animation: bggra 15s ease infinite;
    -moz-animation: bggra 15s ease infinite;
    -o-animation: bggra 15s ease infinite;
    animation: bggra 15s ease infinite;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.newStyle2 {
    font-size: x-large;
}
.newStyle3 {
    font-size: large;
}
.cursor {
    cursor: crosshair;
    border-radius: 5px;
    padding-left: 2px;
    font-weight: 500;
    font-size: 12pt;
}
.newStyle10 {
    position: fixed;
    right: 150px;
}
.head {
    height: 100px;
    background: linear-gradient(314deg, #000000, #ffffff, #000000, #ffffff, #000000, #ffffff, #000000, #ffffff);
    background-size: 1600% 1600%;
    -webkit-animation: headerbgra 60s ease infinite;
    -moz-animation: headerbgra 60s ease infinite;
    animation: headerbgra 60s ease infinite;
}
.select {
    cursor: crosshair;
    border-radius: 5px;
    border: 0.5px solid #3366CC;
    padding-left: 2px;
}
@-webkit-keyframes bggra {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes bggra {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@-o-keyframes bggra {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@keyframes bggra {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@-webkit-keyframes headerbgra {
    0% {
        background-position: 0% 86%;
    }

    50% {
        background-position: 100% 15%;
    }

    100% {
        background-position: 0% 86%;
    }
}
@-moz-keyframes headerbgra {
    0% {
        background-position: 0% 86%;
    }

    50% {
        background-position: 100% 15%;
    }

    100% {
        background-position: 0% 86%;
    }
}
@keyframes headerbgra {
    0% {
        background-position: 0% 86%;
    }

    50% {
        background-position: 100% 15%;
    }

    100% {
        background-position: 0% 86%;
    }
}